body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
  }
  
  .container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333333;
  }
  
  p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #666666;
  }
  
  .btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: #ffffff;
  }
  
  #confirmYes {
    background-color: #e74c3c;
  }
  
  #confirmNo {
    background-color: #3498db;
  }
  
  button:hover {
    opacity: 0.8;
  }
  

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .confirmation-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .confirmation-container h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333333;
  }
  .submit-button {
    background-color: #3498db;
    color: #ffffff;
  }
  
  .cancel-button {
    background-color: #e74c3c;
    color: #ffffff;
    margin-right: 10px;
  }
  
  .yes-button {
    background-color: #27ae60;
    color: #ffffff;
  }
  
  .no-button {
    background-color: #e67e22;
    color: #ffffff;
    margin-right: 10px;
  }