@charset "ISO-8859-1";body {
    font-family: Arial, sans-serif;
    background-image: url('https://pbs.twimg.com/ext_tw_video_thumb/1177447351809478659/pu/img/zjZwaDhGVoXQpUAd.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.popup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.popup {
    background-color: #ffcc00;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    width: 100%;
}

.popup h2 {
    margin-top: 0;
    color: #333;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

.input-group input {
    width: 80%;
    padding: 12px;
    border: 2px solid #ffcc00;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    font-size: 20px;
}

.input-group input:focus {
    border-color: #ff9900;
    outline: none;
}

.btn {
    background-color: #ff9900;
    color: #fff;
    border: none;
    padding: 12px 24px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #ff6600;
}