@charset "UTF-8";
/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header, footer {
    background-color:blueviolet;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

.profile-container {
    display: flex;
    justify-content: stretch;
    padding: 2rem;
}

.flex-item {
    flex: 1;
    padding: 1rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    text-align: center;
}

.update-button {
    background-color:orange;
    color: #fff;
    border: none;
    font-size: 22px;
    font-weight: bold;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 3px;
    width: 180px;
    height:100px;

}

.popup {
    display: none;
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:beige;
    box-shadow: 0 2px 5px rgba(10, 0, 0, 0.2);
    color: blue;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 2rem;
    z-index: 1000;
    max-width: 400px;
    width: 90%;
}

.popup.show {
    display: block;
}

.update-form {
    display: flex;
    flex-direction: column;
}

h2 {
    margin-bottom: 1rem;
    font-weight: bold;
    color: #333;
}

label {
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #555;
}

input {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    align-self: flex-end;
    cursor: pointer;
    border-radius: 3px;
}

button[type="submit"]:hover {
    background-color: #555;
}
footer{
    position: relative;
    top:240px;
    padding: 30px;
    color: white;
    text-decoration:none;
}