<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <display-name>MY_BANK</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>OpenAccount</servlet-name>
    <servlet-class>bank.OpenAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OpenAccount</servlet-name>
    <url-pattern>/OpenAccount</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>bank.ConnectionListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>BankLogin</display-name>
    <servlet-name>BankLogin</servlet-name>
    <servlet-class>bank.BankLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BankLogin</servlet-name>
    <url-pattern>/BankLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerDeposit</display-name>
    <servlet-name>CustomerDeposit</servlet-name>
    <servlet-class>bank.CustomerDeposit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerDeposit</servlet-name>
    <url-pattern>/CustomerDeposit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerWithdrawal</display-name>
    <servlet-name>CustomerWithdrawal</servlet-name>
    <servlet-class>bank.CustomerWithdrawal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerWithdrawal</servlet-name>
    <url-pattern>/CustomerWithdrawal</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerMoneyTransfer</display-name>
    <servlet-name>CustomerMoneyTransfer</servlet-name>
    <servlet-class>bank.CustomerMoneyTransfer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerMoneyTransfer</servlet-name>
    <url-pattern>/CustomerMoneyTransfer</url-pattern>
  </servlet-mapping>
 
  <servlet>
    <description></description>
    <display-name>UserDetailsUpdate</display-name>
    <servlet-name>UserDetailsUpdate</servlet-name>
    <servlet-class>bank.UserDetailsUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDetailsUpdate</servlet-name>
    <url-pattern>/UserDetailsUpdate</url-pattern>
  </servlet-mapping>
</web-app>